.technologies {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background: rgb(182,181,209);
    background: radial-gradient(circle, rgba(182,181,209,1) 0%, rgba(78,96,185,1) 63%, rgba(140,157,161,1) 100%);
    padding: 10px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}